.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(203, 148, 205);
    }
    
    #display{
        text-align: right;
        height: 70px;
        line-height: 70px;
        padding: 16px 8px;
        font-size: 25px;
        background-color: beige;
    }
    .buttons{
    display: grid;
    border-bottom: 2px solid #0c0b0b;
    border-left: 2px solid #0c0c0c;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
    .buttons > div {
        border-top: 2px solid #0c0c0c;
        border-right: 2px solid #0a0a0a;
    }
    
    .button{
        border-bottom: 0.5px solid #999;
        line-height: 100px;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
    }
#equals{
    background-color: rgb(140, 8, 76);
    color: rgb(251, 249, 249);
}
.button:hover{
    background-color: rgb(123, 32, 99);
    color: #fff;
    transition: 0.5s ease-in-out;
}
    
    